.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color:#c0392b;
  }
  
  input[type='text'],
  input[type='number'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c; /* Red */
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #c0392b; /* Darker red on hover */
  }
  